/*=============================
=            Login            =
=============================*/

#loginBox {
	background: $color-white;
	min-height:300px;
	margin-top: 50px;
	border-radius:12px;
		.loginBrand {
			text-align: center;
			padding-top: 20px;
				img {
					margin: 9px auto;
				}
		}
		.loginForm {
			padding: 25px;
				input[type="text"] , input[type="password"] {
					padding:15px;
					font-size: 18px;
					border:1px solid #dedede;
					font-family: $nova-regular;
					width: 100%;
					padding-left: 60px;
					border-radius:4px;
					margin-bottom: 10px;
				}
				input[type="submit"] {
					padding: 15px;
					width: 100%;
					display: block;
					background: #3096b8;
					color:$color-white;
					@extend .uppercase;
					font-size: 16px;
					font-family: $nova-bold;
					border-radius:32px;
					border:none;
						&:hover {
							opacity: $opaque;
						}
				}
		}	
		.userIco {
			background: url(../img/ico/user.jpg);
			background-repeat:no-repeat;
			background-position: 10px center;
		}
		.passIco {
			background: url(../img/ico/password.jpg);
			background-repeat:no-repeat;
			background-position: 10px center;
		}	
		footer {
			background: #f5f5f5;
			border-top:1px solid #e6e6e6;
			padding-top: 25px;
			padding-bottom: 25px;
			padding-right: 25px;
			padding-left: 25px;
-webkit-border-bottom-right-radius: 12px;
-webkit-border-bottom-left-radius: 12px;
-moz-border-radius-bottomright: 12px;
-moz-border-radius-bottomleft: 12px;
border-bottom-right-radius: 12px;
border-bottom-left-radius: 12px;	
			@include breakpoint(phone) {
				padding-left: 5px;
				padding-right: 5px;
			}		
				a {
					font-size: 12px;
					font-family: $rale-regular;
					display: inline-block;
					padding-left: 10px;
					padding-right: 10px;
					color:#4c8ce6;
					text-decoration: underline;
					@include breakpoint(phone) {
						font-size: 11px;
					}
						&:hover {
							opacity: $opaque;
							text-decoration: none;
						}
				}
				.privacyLink {
					text-decoration: none;
					text-align: right;
					float:right;
					display: inline-block;
					color:#7b7e85;
					@include breakpoint(phone) {
						font-size: 11px;
						margin-top: 5px;
					}
				}
		}	
		.rememberArea {
			margin-top: 13px;
				span {
					margin-left: 10px;
					font-size: 14px;
					color:#3096b8;
					font-family: $nova-bold;
				}
		}
}

/*-----  End of Login  ------*/


/*===================================
=            App General            =
===================================*/

#appWrapper {
	background: url(../img/bg/bg2.jpg);
	background-position: center top;
	min-height:1000px;
	padding-top: 50px;
	padding-bottom: 20px;
		#appSidebar {
			background: #354052;
			min-height: 200px;
			padding: 0px;
				.profileArea {
					text-align: center;
					padding-top: 30px;
					padding-bottom: 30px;
					border-bottom:1px solid #293241;
					@include breakpoint(tablet-port) {
						padding-left: 10px;
						padding-right: 10px;
					}
						img {
							margin: 0 auto;
							border-radius:180px;
						}
						p {
							color:#c9d0dd;
							font-size: 16px;
							font-family: $nova-bold;
							margin-top: 15px;
						}
				}
				.lightdivider {
					border-top:1px solid #3d495d;
					width: 100%;
				}
				.profileBtn {
					display: inline-block;
					padding-left: 20px;
					padding-right: 20px;
					padding-top: 10px;
					padding-bottom: 10px;
					@extend .uppercase;
					font-family: $rale-bold;
					border:1px solid #a0abbe;
					color:#a0abbe;
					@include breakpoint(tablet-port) {
						width: 100%;
					}
						&:hover {
							color:#fff;
							border:1px solid #fff;
						}
				}
				.logoutBtn {
					display: inline-block;
					padding-left: 20px;
					padding-right: 20px;
					padding-top: 10px;
					padding-bottom: 10px;
					@extend .uppercase;
					font-family: $rale-bold;
					border:1px solid #df2f3b;
					background: #d40a18;
					color:#a0abbe;
					margin-left: 10px;
					color:#fff;
					@include breakpoint(tablet-port) {
						width: 100%;
						margin-left: 0px;
						margin-top: 10px;
					}
						&:hover {
							opacity: $opaque;
						}
				}
				h3 {
					margin-left: 20px;
					margin-top: 20px;
					margin-bottom: 20px;
					color:#65748d;
					font-size: 16px;
					font-family: $nova-bold;
				}
				nav {
					padding-bottom: 20px;
			
				width: 100%;
					ul {
						padding: 0px;
						margin: 0px;
						list-style-type: none;
						
							li {
								width: 100%;
								display: block;
								.activeSidebar {
											background: #2f3949;
											border-left:3px solid #fff;
											color:#fff;									
								}

								a {
									display: block;
									padding-top: 10px;
									padding-bottom: 10px;
									@extend .uppercase;
									color:#a0acbf;
									font-size: 14px;
									font-family: $rale-bold;
									padding-left: 15px;
									border-left:3px solid transparent;
										&:hover {
											background: #2f3949;
											border-left:3px solid #fff;
											color:#fff;
										}
										img {
											margin-right: 15px;
											position:relative;
											top:-1px;
										}
										@include breakpoint(tablet-port) {
											font-size: 12px;
										}
								}	
							}
					}
				}
				.dateInfo {
					margin-left: 20px;
					color:#fff;
					font-size: 14px;
					font-family: $rale-bold;
					position:relative;
					top:-7px;
				}
				.visitApp {
					display: block;
					width: 100%;
					padding-top: 25px;
					padding-bottom: 25px;
					background: #212b37;
					text-align: center;
					margin-top: 5px;
					margin-bottom: 25px;
					color:#59636f;
					font-family: $nova-bold;
					font-size: 16px;
					@extend .fading;
					background-color: #212b37;

					margin-bottom: 25px;
						&:hover {
							opacity: $opaque;
						}
						img {
							margin-right: 10px;
							position:relative;
							top:-1px;
						}
				}
		}
}

/*-----  End of App General  ------*/

.divider {
	border-top:1px solid #293241;
	border-bottom:1px solid #3d495d;
	width: 100%;
}

.badge {
	background: #8791a2!important;
	margin-left: 10px;
}

.navbar-default {
	border:none;
	background: none;
	padding: 0px;
	margin: 0px;
		ul, .navbar-collapse {
			padding: 0px;
			margin: 0px;
		}
		.navbar-collapse {
			border:none;
		}
		.container-fluid {
			padding: 0px!important;
			margin: 0px!important;
		}
		h3 {
			margin-left: 35px!important;
		}
		.navbar-toggle {
			background: #6d7a91;
			margin-right: 30px;
			color:#fff;
			border:1px solid #8390a5;
				span {
					background: #fff;
					color:#fff;
				}
		}
		.icon-bar {
			color:#fff!important;
			background: #fff!important;
		}
		.navbar-nav {
			width: 100%;
		}
}

/*==================================
=            Right Part            =
==================================*/


#appContent {
		background: #ecf2f6;
		min-height: 1050px;
		padding: 0px;
			#mainLinks {
				margin-right: 0px;
				text-align: center;
				margin-top: 10px;
					a {
						display: block;
						padding-top: 27px;
						border-right:1px solid #e5e7ea;
						border-left:1px solid #f6f7f8;
						padding-bottom: 27px;
						margin: 0px;
						margin: 0 auto;
						@extend .fading;
							&:hover {
								opacity: $opaque;
							}
					
					}
					img {
						margin: 0 auto;
					}
			}
			#appHeader {
				background: #fff;
				border-bottom:1px solid #bec5c9;
				.appHeaderLeft {
					padding-left: 30px;
					padding-bottom: 20px;
				}
					h1 {
						font-size: 36px;
						padding-top: 20px;
						padding-bottom: 5px;
						font-family: 'proxima_novalight';
						font-weight: normal;
						color:#4e515e;
						font-family: 'ralewayextralight';
					}
					p {
						margin: 0px;
						padding: 0px;
						font-family: $nova-bold;
						font-size: 14px;
							img {
								margin-right: 5px;
								position:relative;
								top:-2px;
							}						
							a {
								padding-left: 5px;
								padding-right: 5px;
								font-family: $nova-regular;
								color:#34b0fb;
									&:hover {
										opacity: $opaque;
									}
							}
					}

			}

	}


/*-----  End of Right Part  ------*/

/*===========================
=            Sum            =
===========================*/

.extremlySum {
	background: #00aa8a!important;
}

.verySum {
	background: #28cdae!important;
}

.satSum {
	background: #ffd507!important;
}

.socialBox {
	width: 20%;
	float:left;
	padding-top: 25px;
		@include breakpoint(tablet-port) {
			width: 50%;
		}
		h4 {
			@extend .uppercase;
			font-size: 16px;
			font-family: $nova-bold;
			margin-bottom: 9px;
			color:#b1b7c2;
		}
		h3 {
			@extend .uppercase;
			font-size: 16px;
			font-family: $nova-bold;
			margin-bottom: 10px;
			color:#b1b7c2;
		}	
		p {
			margin: 0px;
			padding: 0px;
			font-size: 14px;
			margin-bottom: 5px;
			font-family: $nova-regular;
				span {
					font-family: $rale-bold;
					font-size: 16px;
					position:relative;
					top:0px;
					color:#999;
				}
				img {
					margin-right: 5px;
					position:relative;
					top:-1px;
				}
				a {
					color:#838282;
						&:hover {
							opacity:0.7;
						}
				}
		}	
		h6 {
			padding: 10px;
			text-align: center;
			margin-top: 10px;
			border-radius:4px;
			background: #59bac1;
			margin-right: 25px;
			color:#fff;
			font-family: $rale-regular;
			font-size: 14px;
				strong {
					font-size: 16px;
					font-family: $rale-bold;
				}
		}
}

.sumBox {
	float:left;
	width: 20%;
	text-align: center;
	margin-top: 25px;
	padding-bottom:25px;
	@include breakpoint(phone) {
		width: 50%;
	}
	a {
		display: block;
		@extend .fading;
		&:hover {
			opacity: $opaque;
		}
	}
	.darkBlue {
		border:5px solid #3fa3f9;
		color:#3fa3f9;
	}
	.darkerBlue {
border:5px solid #368cd6;
		color:#368cd6;
	}
	.blue {
border:5px solid #296fab;
		color:#296fab;
	}
	.lighterBlue {
border:5px solid #235b8c;
		color:#235b8c;
	}
	.lightBlue {
border:5px solid #184266;
		color:#184266;
	}
		span {
			display: block;
			width: 94px;
			height: 94px;
			border-radius:180px;
			text-align: center;
			line-height: 90px;
			margin: 0 auto;
			border:5px solid #000;
			font-size: 32px;
			font-family: $nova-bold;
			@include breakpoint(phone) {

			}
		}
		h6 {
			margin-top: 15px;
			font-size: 13px;
			color:#8a95a5;
			font-family: $rale-bold;
			@extend .uppercase;
		}
		.greenCircle {
			border:5px solid #00aa8a;
			color:#00aa8a;
		}
		.lightgreenCircle {
			
			border:5px solid #28cdae;
			color:#00aa8a;
		}
		.yellowCircle {
			
			border:5px solid #ffd507;
			color:#ffd507;
		}
		.pinkCircle {
			
			border:5px solid #e81960;
			color:#e81960;
		}
		.redCircle {
			border:5px solid #e50000;
			color:#e50000;
		}
		.grayCircle {
			border:5px solid #dbdee1;
			color:#dbdee1;
		}
		.grayOut {
		color:#dbdee1;	
		}

}

#sumInfo {
	background: #f7f9fb;
	border-bottom:1px solid #d8dfe5;
}

/*-----  End of Sum  ------*/

.panel-default {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
		.viewAll {
			background: #000;
			float: right;
			display: inline-block;
			font-size: 12px;
			color: #90a4ae;
			font-family: "proxima_nova_rgbold";
			padding-top: 12px;
			padding-bottom: 10px;
			border-radius: 4px;
			padding-left: 50px;
			padding-right: 50px;
			text-align: center;
			background: #f4f6f7;
			border: 1px solid #d3dbdf;		
				&:hover {
					opacity: $opaque;
				}	
		}
		.noticeInfo {
			font-size: 12px;
			color:#999;
			padding-top: 5px;
			display: inline-block;
			font-family: $nova-regular;
		}
}

.panel-heading {
	background: #717d95!important;
	color:#fff!important;
	@extend .uppercase;
	font-family:$nova-bold;
	padding-top: 20px;
	padding-bottom: 15px;
		img {
			margin-right: 10px;
			position:relative;
			top:-2px;
		}
	select {
		float:right;
		width: 150px;
		margin-top: -6px;
	}
}

.editBtn{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #000;
	text-indent: -9999px;
	background: url(../img/ico/edit2.png);
	margin-top: 3px;
		&:hover {
			opacity: $opaque;
		}
}

.editBtn2 {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #000;
	text-indent: -9999px;
	background: url(../img/ico/edit2.png);
	margin-top: 3px;
	margin-left: 10px;
		&:hover {
			opacity: $opaque;
		}
}

.viewBtn{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #000;
	text-indent: -9999px;
	background: url(../img/ico/view.png);
	margin-top: 3px;
		&:hover {
			opacity: $opaque;
		}
}

.contactedBtn {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #000;
	text-indent: -9999px;
	background: url(../img/ico/contactedico.png);
	margin-top: 3px;
	margin-left: 10px;
		&:hover {
			opacity: $opaque;
		}
}


.notcontactedBtn {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #000;
	text-indent: -9999px;
	background: url(../img/ico/notcontactd.png);
	margin-top: 3px;
	margin-left: 10px;
		&:hover {
			opacity: $opaque;
		}
}

.removeBtn{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #000;
	text-indent: -9999px;
	background: url(../img/ico/delete.png);
	margin-left: 10px;
	margin-top: 3px;
		&:hover {
			opacity: $opaque;
		}	
}

table {
	font-family:$rale-regular;
	a {
		color:#7b89a0;
		font-family: $rale-bold;
	}
}

.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
	border-bottom:1px solid #e3e8ec!important;
}

#pageContainer {
	background:#354052!important;
}

.totalSumTable {
	background: #d5dce4!important;
	font-size: 14px;
	font-family:$nova-bold;
}

/*==============================
=            Filter            =
==============================*/

.filterBox {
	padding: 20px;

		.editProfleBtn {
			display: inline-block;
			background: #000;
			float:right;
			display: inline-block;
			width: 100%;
			padding-top: 15px;
			padding-bottom: 15px;
			@extend .uppercase;
			background: #000;
			text-align: center;
			font-family: $nova-bold;
			color:#fff;
			background: #2b80bb;
			border:1px solid #88bfdc;
			border-radius:4px;
			@extend .fading;
				&:hover {
					opacity: $opaque;
				}			
		}
		h2 {
			margin-bottom: 20px;
			font-size: 18px;
			@extend .uppercase;
			font-family: $nova-bold;
			color:#8c95a6;
			margin-top: 20px;
		}
		label {
			font-size: 12px!important;
			margin-top: 8px;
		}
		input {
			margin-bottom: 20px;
			border:1px solid #ddd;
		}
		select {
			margin-bottom: 20px;
			border:1px solid #ddd;
			font-size: 14px;
			font-family: $rale-regular;
		}
		.generateBtn {
			display: inline-block;
			width: 100%;
			padding-top: 15px;
			padding-bottom: 15px;
			@extend .uppercase;
			background: #000;
			text-align: center;
			font-family: $nova-bold;
			color:#fff;
			background: #2b80bb;
			border:1px solid #88bfdc;
			border-radius:4px;
			margin-bottom: 30px;
			margin-top: 20px;
						&:hover {
							opacity: $opaque;
						}			
				img {
					margin-right: 10px;
					position:relative;
					top:-2px;
				}
		}
}

/*-----  End of Filter  ------*/

/*====================================
=            User Profile            =
====================================*/

#profileUser {
	h5 {
			margin-bottom: 5px;
			font-size: 22px;
			@extend .uppercase;
			font-family: $nova-bold;
			color:#8c95a6;
	}
	h3 {
		font-size: 14px;
		font-family: $nova-regular;
	}
}

/*-----  End of User Profile  ------*/

#profileDetails {
	h4 {
		@extend .uppercase;
		font-size: 14px;
		font-family: "ralewaybold";	
		color: #8a95a5;	
	}
	img {
		margin: 0 auto;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 15px;
		margin-top: 5px;
		font-size: 14px;
		font-family: $nova-regular;
		color:#999;
			a {
				color:#7b89a0;
					&:hover {
						text-decoration: underline;
					}
			}
	}
	input[type="text"], input[type="password"], input[type="email"] {
		margin-top: 15px;
		margin-bottom: 15px;
		border:1px solid #ddd;
		font-size: 14px;
		font-family: $rale-regular;
		width: 100%;
		padding: 10px;
		
	}
	textarea {
		margin-top: 15px;
		border:1px solid #ddd;
		height:127px;
		font-family: $rale-regular;
		margin-bottom: 15px;
		width: 100%;
		padding: 10px;
			
	}
	input[type="file"] {
		margin-top: 15px;
	}
	select {
		margin-top: 15px;
		margin-bottom: 15px;
		border:1px solid #ddd;
		font-size: 14px;
		font-family: $rale-regular;	
		width: 100%;
		padding: 10px;
	}

}

	.saveBtn {
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		float: right;
		display: inline-block;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		background: #000;
		text-align: center;
		font-family: "proxima_nova_rgbold";
		color: #fff;
		background: #08a324;
		border: 1px solid #88bfdc;
		border-radius: 4px;
		@extend .uppercase;	
			&:hover {
				color:#fff;
				opacity: $opaque;
			}	
	}

.submitBtn {
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		float: right;
		display: inline-block;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		background: #000;
		text-align: center;
		font-family: "proxima_nova_rgbold";
		color: #fff;
		background: #08a324;
		border: 1px solid #88bfdc;
		border-radius: 4px;
		@extend .uppercase;	
		border:none;
			&:hover {
				color:#fff;
				opacity: $opaque;
			}		
}	

.btn-primary {
	background: #3cb878!important;
}

.modal-body {
	p {
		font-size: 14px;
		font-family: $nova-regular;
	}
}

.modal-title {
	font-size: 24px;
	font-family:nova-bold;
}

.cancelBtn {
	background: #e80000!important;
}

.ratingBar {
	margin-top: 10px;
		small {
			display: block;
			font-size: 12px;
			font-family: $rale-regular;
		}
}

.socialShare {
	padding-top: 10px;
	img {
		margin-right: 15px;
		display: inline-block;

	}
}

.printBtn {
	img {
		margin-right: 15px;
	}
}

#ui-datepicker-div {
	background: #fff;
	border:1px solid #2b80bb;
	padding: 15px;
	font-family:$nova-regular!important;
		th {
			padding: 5px;
		}
		thead {
			background: #2b80bb;
			color:#fff;
			margin: 2px;
		}
		.ui-datepicker-title {
			background: #f7f9fb;
			padding: 5px;
		}
		td {
			background: #f7f9fb;
			border:1px solid #fff;
			text-align: center;
		}
		.ui-datepicker-prev:hover {
			cursor: pointer;
		}
		.ui-datepicker-next {
			padding-left: 10px;
		}
		.ui-datepicker-next:hover {
			cursor: pointer;
		}
}

.requiredRed {
	color:#ff1300;
}

.filterBox {

	input[type="text"], input[type="password"], input[type="email"] {
		margin-top: 8px;
		margin-bottom: 15px;
		border:1px solid #ddd;
		font-size: 14px;
		font-family: $rale-regular;
		width: 100%;
		padding: 10px;
		
	}
	textarea {
		margin-top: 8px;
		border:1px solid #ddd;
		height:127px;
		font-family: $rale-regular;
		margin-bottom: 15px;
		width: 100%;
		padding: 10px;
			
	}
	input[type="file"] {
		margin-top: 15px;
	}
	select {
		margin-top: 8px;
		margin-bottom: 15px;
		border:1px solid #ddd;
		font-size: 14px;
		font-family: $rale-regular;	
		width: 100%;
		padding: 10px;
	}

	}

.nopad {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}	

#appHeader  .badge {
	position:relative;
	top:-12px;
	left:-12px;
}