/*===============================
=            Top Bar            =
===============================*/

#topBar {
	background: url(../img/bg/divider.png);
	background-repeat:repeat-x;
	background-position:left bottom;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: right;
		p {	
			color:$white;
			opacity:0.4;
			font-size: $base-size;
			font-family: $semi-font;
			display:inline-block;
				img {
					margin-right: 10px;
					position:relative;
					top:-1px;
				}
		}
		/* Phone */
		@include breakpoint(phone) {
			text-align: center;
		}
		a {
			padding-right: 10px;
			padding-left: 10px;
			border-right:1px solid #fff;
			opacity:0.6;
			color:$white;
			@extend .fading;
			font-family: $semi-font;
			font-size: $base-size;
			text-transform:uppercase;
				&:hover {
					opacity:$opaque;
				}
		}
		.lastItem {
			padding-right: 0px;
			border:none;
		}
}

/*-----  End of Top Bar  ------*/

/*================================
=            Branding            =
================================*/

#branding {
	padding-top: 100px;
	margin-bottom: 40px;
	@include breakpoint(phone) {
		padding-top: 40px;
	}
	img {
		margin: 0 auto;
		@extend .fading;
			&:hover {
				opacity:$opaque;
			}
	}
}

/*-----  End of Branding  ------*/



