.view {
   width: 160px;
   height: 160px;
   overflow: hidden;
   position: relative;
   text-align: center;
   margin:0px;
   margin: 0 auto;
   border-radius:180px;
   padding: 10px;

}

.view img {
   margin: 0 auto;
}
.view .mask,.view .content {
   width: 160px;
   height: 160px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   margin: 0 auto;
    background: #952029!important;   border-radius:180px;

}

.mask:hover {
   opacity: 0.7!important;
}
.view img {
   display: block;
   position: relative;
}


.view a.info: hover {

}

.view a {
  
}

.view-first {

}