#infoDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index:99;
    background:#FF8A00;
    border-bottom:2px dotted white;
    text-align:center;
}

#infoDiv p {
    padding-top:10px;
}